@media -sass-debug-info{filename{}line{font-family:\000031}}
.artist-popup {
  position: absolute;
  width: 480px;
  background: white;
  box-shadow: 5px 3px 5px #333333;
  border: 2px solid #333333;
  z-index: 100;
  overflow: visible;
  padding: 0; }
@media -sass-debug-info{filename{}line{font-family:\0000310}}
  .artist-popup .inner {
    padding: 10px;
    background: white; }
@media -sass-debug-info{filename{}line{font-family:\0000313}}
  .artist-popup .triangle {
    position: absolute;
    top: 60px; }
@media -sass-debug-info{filename{}line{font-family:\0000316}}
  .artist-popup .triangle-inner {
    position: absolute;
    top: 61.5px; }
@media -sass-debug-info{filename{}line{font-family:\0000320}}
  .artist-popup.right .triangle {
    left: 0%;
    margin-left: -15px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-right: 15px solid #333333; }
@media -sass-debug-info{filename{}line{font-family:\0000326}}
  .artist-popup.right .triangle-inner {
    left: 0%;
    margin-left: -13px;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-right: 13px solid white; }
@media -sass-debug-info{filename{}line{font-family:\0000333}}
  .artist-popup.left .triangle {
    left: auto;
    right: 0;
    margin-right: -15px;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    border-left: 15px solid #333333; }
@media -sass-debug-info{filename{}line{font-family:\0000340}}
  .artist-popup.left .triangle-inner {
    left: auto;
    right: 0;
    margin-right: -13px;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 13px solid white; }

@media -sass-debug-info{filename{}line{font-family:\0000348}}
ul.social-icons li.soundcloud a {
  background: url(http://farm9.staticflickr.com/8082/8292777643_65090144e9_z.jpg) top left no-repeat;
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-indent: -9999px; }

@media -sass-debug-info{filename{}line{font-family:\0000356}}
.artist-popup ul.tracks li {
  padding: 3px;
  background: #333333;
  color: white;
  margin: 0 0 3px 0;
  cursor: pointer; }
@media -sass-debug-info{filename{}line{font-family:\0000362}}
  .artist-popup ul.tracks li i {
    margin-right: 5px; }

@media -sass-debug-info{filename{}line{font-family:\0000365}}
#player {
  position: absolute;
  top: 170px;
  width: 300px;
  padding: 3px;
  height: 24px;
  z-index: 1001;
  background: black; }
@media -sass-debug-info{filename{}line{font-family:\0000373}}
  #player.fixed {
    top: 0;
    position: fixed; }

@media -sass-debug-info{filename{}line{font-family:\0000377}}
#mini-navigation {
  width: auto; }

@media -sass-debug-info{filename{}line{font-family:\0000380}}
#mini-search {
  float: right; }

@media -sass-debug-info{filename{}line{font-family:\0000384}}
#player .jp-controls {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  width: 24px;
  background: red;
  overflow: hidden; }
@media -sass-debug-info{filename{}line{font-family:\0000385}}
  #player .jp-controls i {
    display: inline-block;
    line-height: 24px;
    text-align: center;
    width: 24px;
    height: 24px;
    color: white;
    font-size: 16px; }
@media -sass-debug-info{filename{}line{font-family:\00003100}}
#player .jp-progress {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 24px;
  right: 80px;
  background: #eeeeee; }
@media -sass-debug-info{filename{}line{font-family:\00003107}}
  #player .jp-progress .jp-seek-bar {
    background: #333333;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
@media -sass-debug-info{filename{}line{font-family:\00003113}}
  #player .jp-progress .jp-play-bar {
    background: #4a9cba;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
@media -sass-debug-info{filename{}line{font-family:\00003119}}
#player .jp-right {
  right: 0;
  bottom: 0;
  height: 100%;
  background: red;
  position: absolute;
  text-align: center;
  line-height: 24px;
  width: 80px;
  font-size: 0.8em;
  color: white; }
@media -sass-debug-info{filename{}line{font-family:\00003130}}
#player .title {
  z-index: 10;
  position: absolute;
  pointer-events: none;
  line-height: 24px;
  font-size: 0.8em; }
