
		<div id="jplayer" class="jp-jplayer"></div>

		<div id="jp_container" class="jp-audio">
			<div class="jp-controls">
				<i href="javascript:;" class="jp-play icon-play" tabindex="1">play</i>
				<i href="javascript:;" class="jp-pause icon-pause" tabindex="1">pause</i>
				<i href="javascript:;" class="jp-stop icon-stop" tabindex="1">stop</i>
			</div>
			<div class="jp-progress">
				<span class="title"></span>
				<div class="jp-seek-bar">
					<div class="jp-play-bar"></div>
				</div>
			</div>
			<div class="jp-volume-bar">
				<div class="jp-volume-bar-value"></div>
			</div>
			<div class="jp-right">
				<span class="jp-current-time"></span> / <span class="jp-duration"></span>
			</div>
		</div>
		<div class="jp-no-solution" style="display: none">
			<span>Update Required</span>
			To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		</div>
	</div>
